<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Time Capsule</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="container">
      <div class="nav_bar">
        <h1 class="ri-hourglass-fill">DTC</h1>
  <div class="btn_box">
  <% if (user) { %>
    <span class="user_name"><%= user.displayName %></span>
  <% } else { %>
    <a href="/auth/google" class="btn">Sign In</a>
  <% } %>
  <a href="https://github.com/thebedigupta" class="btn">GitHub</a>
 </div>
</div>
         <div class="dashboard-container">
           <div class="capsule-card" onclick="window.location.href='/create-capsule'">
           <h2>Create a Capsule</h2>
           <p>Store your thoughts, memories, and goals safely in time.</p>
          </div>
         </div>
        </div>
      </div>
    </div>
  </body>
</html>
